@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

.nav-transition {
  transition: height 0.5s ease-in-out;
}


@layer utilities {
  /* layout */
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-[5%]
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  /* buttons */
  .btn-orange {
    @apply border-none text-white py-2 px-6 font-semibold rounded-full bg-orange-50 hover:bg-orange-90 transition duration-500 ease-in-out;
  }
    
  .btn-blue {
    @apply  border-none text-white py-2 px-6 font-semibold rounded-full bg-blue-50 hover:bg-blue-90 transition duration-500 ease-in-out;
  }

  /* typography */
  .bold-124 {
    @apply text-[124px] font-[800] leading-[120%];
  }

  .bold-88 {
    @apply text-[88px] font-[800] ;
  }

  .bold-64 {
    @apply text-[64px] font-[800];
  }

  .bold-52 {
    @apply text-[52px] font-[800] leading-[120%];
  }

  .bold-46 {
    @apply text-[46px] font-[800] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[800] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[800] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[800];
  }

  .bold-18 {
    @apply text-[18px] font-[800];
  }

  .bold-16 {
    @apply text-[16px] font-[800];
  }


  /* animation observer */
  .hide {
    @apply opacity-0 translate-y-5;
    transition: opacity 0.75s ease, transform 1s ease;
  }
  
  .show {
    @apply opacity-100 translate-y-0;
  }

  .hide-x {
    @apply opacity-0 translate-x-5;
    transition: opacity 0.75s ease, transform 1s ease;
  }

  .show-x {
    @apply opacity-100 translate-x-0;
  }
}
